.DS_Store
.env
.venv
__pycache__
./data/export/temp/*
./data/open_data/*
./models/llms/api_keys.json
./models/llms/test_paster.py
./data/open_data/*
./data/processed/*
training/data/*
training/splits/*
training/logs/*
training/checkpoints/*
evaluation/results/*
evaluation/logs/*
evaluation/datasets/*
evaluation/embeddings/post-train/*
evaluation/embeddings/pre-train/*
application/model*
application/corpus/*
application/data/*
evaluation/embeddings/post-train*/*
evaluation/embeddings/pre-train*/*
*.slurm.sh
application/.chroma
